.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/twitux.desktop.in
depcomp
gnome-doc-utils.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
po/POTFILES
po/stamp-it
po/Makefile.in.in
stamp-h1
xmldocs.make
.*.swp
*.o
*.lo
*.gmo
build
data/twitux.desktop
data/twitux.schemas
help/twitux-C.omf
libtwitux/.libs
libtwitux/libtwitux.la
po/.intltool-merge-cache
src/twitux

