[Desktop Entry]
Encoding=UTF-8
Name=Twitux
Comment=A Twitter client
Comment[es]=Un cliente para Twitter
Exec=twitux
Terminal=false
Type=Application
Icon=twitux.png
Categories=Application;Network;
